<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      @font-face { font-family: 'Yekan'; src:
      url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot'); src:
      url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.eot?#iefix')
      format('embedded-opentype'),
      url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.woff')
      format('woff'), url('https://cdn.fontcdn.ir/Font/Persian/Yekan/Yekan.ttf')
      format('truetype'); font-weight: normal; } * { font-family: Yekan
      !important; direction: rtl; } body { /* font-family: Yekan !important; */
      font-size: 18px; } table { font-family: arial, sans-serif;
      border-collapse: collapse; width: 100%; } td, th { border: 1px solid
      #dddddd; text-align: right; padding: 8px; } tr:nth-child(even) {
      background-color: #dddddd; } .wrapper { margin-bottom: 30px; } .wrapper
      .logo { text-align: center; padding: 10px; margin: 0 350px; } .wrapper
      .box-top { margin: 0 350px 20px; padding: 20px 27px; border: 2px solid
      #0606061c; } .box-top__header { margin-bottom: 20px; } .box-top__header
      .name { padding: 5px; font-weight: 800; } .box-top__header .date {
      padding: 5px; float: left; text-align: center; } .box-top__header .date h5
      { margin: 0; } .box-top__description { font-size: 18px; } .box-top__hello
      { background-color: #f3e1e175; padding: 10px; margin-bottom: 20px; }
      .box-top__hello p { font-size: 14px; } .box-top__info div { display: flex;
      flex-direction: row; } .box-top__info div .item2 { flex-grow: 5; }
      .box-top__info div .item1 { flex-grow: 1; } .box-top__info { padding:
      10px; background-color: #d9d5d533; /* margin: 5px; */ } .box-top__info p {
      line-height: 30px; } .box-top__button { text-align: center; margin: 20px;
      } .box-top__button button { background-color: #f71d1dcf; color: #fff
      !important; padding: 10px 30px; border-radius: 5px; border: none
      !important; font-weight: bold; font-size: 20px; font-family: Yekan
      !important; } .box-top__footer { text-align: center; margin-top: 20px; }
      .box-top__footer p { color: #00000069; font-size: 13px; } .wrapper
      .box-bottom { margin: 20px 350px; border: 2px solid #0606061c; padding:
      20px 20px 0; display: flex; flex-direction: row; } .wrapper .box-bottom h6
      { margin: 10px 0; } .wrapper .box-bottom .item2 { flex-grow: 2;
      text-align: left; } .wrapper .box-bottom .item2 img { margin-top: 30px; }
    </style>

  </head>

  <body>
    <div class='wrapper'>
      <div class='logo'>
        <img
          class='logo'
          src='http://api-tedx.tenian.ir/logo/logo.png'
          width='180px'
          alt=''
        />
      </div>
      <div class='box-top'>
        <div class='box-top__header'>
          <span class='name'> درخواست همکاری </span>
          <span class='date'>
            <h5>1399/02/12</h5>
          </span>
        </div>

        <div class='box-top__hello'>
          <h4> مشخصات</h4>
          <table>
            <thead>
              <tr>
                <th>نام درخواست کننده</th>
                <th>نام شرکت</th>
                <th>ایمیل</th>
                <th>تلفن</th>
                <th>عنوان درخواست</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{code}}</td>
                <td>{{email}}</td>
                <td>{{mail}}</td>
                <td>{{phone}}</td>
                <td>{{title}}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class='box-top__info'>
          <h4> توضیحات</h4>

          <p>
            {{description}}
          </p>

        </div>
      </div>
      <div class='box-bottom'>
        <div class='item1'>
          <h5>
            تدکس ملاصدرا
          </h5>
          <p>
            <span>آدرس : </span>
            <span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</span>
          </p>
          <p>
            <span>شماره تلفن : </span>
            <span>02126407234</span>
          </p>
          <p>
            <span> ایمیل پشتیبانی : </span>
            <span>Support@mollaSadraSt.ir</span>
          </p>
        </div>
        <div class='item2'>
          <img
            class=''
            src='http://api-tedx.tenian.ir/logo/logo.png'
            width='200px'
            alt=''
          />

        </div>
      </div>
    </div>
  </body>

</html>